/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
/* Ajout du h3 pour dynamisation de la galerie*/
h3{
	font-family: Work Sans;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0em;
	text-align: left;
	color: #3D3D3D;

}
h4{
font-family: Work Sans;
font-size: 26px;
font-weight: 400;
line-height: 30.5px;
text-align: center;
margin-bottom: 20px;
}


nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	font-weight: bold;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/** Création des filtres**/
.filters {
	display: flex;
	justify-content: center;
	gap: 16px;
	margin-bottom: 2em;
  }
  
  .filter {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	padding: 0px 8px 0px 8px;
	min-width: 84px;
	height: 37px;
	text-align: center;
	border-radius: 60px ;
	border: solid #1D6154 1px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .filter:hover {
	color: white;
	background-color: #1D6154;
  }

  #login {
    width: 50%;
    margin: auto;
    text-align: center;
}
#login h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154;
    margin-bottom: 20px;
}

#login form {
    text-align: left;
    margin-top: 30px;
}

#login label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Syne';
    font-weight: 700;
    color: #1D6154;
}

#login input[type="email"],
#login input[type="password"] {
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    margin-bottom: 20px;
    padding: 0 10px;
}

#login input[type="submit"] {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 20px auto;
    display: block; /* Assurez-vous que le bouton est un élément de bloc */
    width: 180px; /* Largeur fixe */
    height: 50px;
    text-align: center;
    border-radius: 60px;
    border: none;
}
#login input[type="submit"]:hover {
    background-color: #14402e; /* Couleur foncée au survol */
}

#login p {
    margin-top: 20px;
    font-family: 'Syne';
    color: #1D6154;
    text-decoration: underline;
    cursor: pointer;
}

#loginButton a {
    color: black;
    text-decoration: none; /* Supprimer le soulignement du texte */
    
}

a {
	text-decoration: none;
}

/* Style pour la fenêtre modale */
.iconemodif{
	width: 15px;
	height: 15px;
	margin-right: 10px;
}
.openModalBtn{
	display: inline-block;
	background-color: transparent;
	border: none;
	font-weight: bolder;
	cursor: pointer; /* Change le curseur au survol */
}

.modal {
    display: none; /* Par défaut, la fenêtre modale est cachée */
    position: fixed;
    z-index: 1; /* Place la fenêtre modale au-dessus de tout le reste */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Ajoute un défilement si nécessaire */
    background-color: rgba(0,0,0,0.4); /* Fond semi-transparent */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrer la fenêtre modale verticalement */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largeur de la fenêtre modale */
}


 /* Bouton de fermeture */
 .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* Style pour la croix de suppression des contenus */
.close-icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0); 
	color: white;
    padding: 1px;
    cursor: pointer;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne lorsque l'espace est insuffisant */
    justify-content: space-around; /* Répartit les éléments de manière uniforme sur la ligne */
}

.work-modal {
    flex-basis: calc(10% - 20px); /* Définit la largeur de chaque élément a 10% de la largeur du conteneur, en tenant compte de la marge */
    margin-bottom: 20px; /* Marge inférieure entre les éléments */
}

.thumbnail-image {
    width: 100%; /* Remplit la largeur de l'élément parent */
    height: auto; /* Garde le ratio d'aspect */
}

/* Le bouton de validation */
.addPhotoBtn {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 20px auto;
    display: block; /* Assurez-vous que le bouton est un élément de bloc */
    width: 180px; /* Largeur fixe */
    height: 50px;
    text-align: center;
    border-radius: 60px;
    border: none;
}
/* Style de la boîte modale de loggin*/
.modal {
	display: none; /* Masquer initialement */
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
  }
  
  /* Contenu de la boîte modale */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
 


/* Style pour le conteneur de l'image et de la croix */
.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Cache la partie de la croix qui dépasse du conteneur */
}


.photo{
	width: 173px;
	height: 36px;
	top: 881px;
	left: 633px;
	gap: 0px;
	border-radius: 50px 50px 50px 50px;
	opacity: 0px;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.42px;
	text-align: center;
	color: #306685;
	background-color:  #CBD6DC;
	border: transparent
	;
}

.arrow{
	display: flex;
	width: 21px;
	height: 21px;
}

.portfolio-header {
    display: flex;
    align-items: center; /* Aligne verticalement les éléments au centre */
    justify-content: center; /* Espace entre les éléments pour pousser le bouton à droite */
	margin-bottom: 10px;
}

.portfolio-header h2 {
    margin: 0; /* Supprime la marge par défaut */
}

/* Conteneur d'upload */
.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Pour s'assurer que le conteneur prend toute la largeur disponible */
}

/* Conteneur de l'image et du bouton */
.image-upload {
    background-color: #E8F1F6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* L'image de prévisualisation */
.image-upload img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px auto; /* Centrer horizontalement et ajouter une marge en bas */
}

/* Le bouton pour ajouter une photo */
.image-upload label {
    display: inline-block;
    width: 173px;
    height: 36px;
    border-radius: 50px;
    background-color: #CBD6DC;
    color: #306685;
    text-align: center;
    line-height: 36px; /* Centrer le texte verticalement */
    cursor: pointer;
    position: relative; /* Pour que le bouton soit au-dessus de l'image */
    margin-bottom: 10px; /* Ajouter une marge en bas pour l'espacement */
}

.image-upload input[type="file"] {
    display: none; /* Masquer l'input de fichier réel */
}

/* Pour le texte sous le bouton */
.modalp {
    font-family: Work Sans;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

/* titre et catégorie du modal ajouter une photo*/

.titrecategorie{
	display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles pour le bouton de validation désactivé */
.addPhotoBtn:disabled {
    background: #A7A7A7;
    cursor: not-allowed;
}

.confirmation-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #1D6154;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 16px;
}





